<div class="main">
	
<!-- 
navigation
 -->
			
	<nav>
			
			<div class="title-tag">
				<image class="logo" src="/images\g3005.png"/>
				<h3>Katie Camille Wilson</h3>
				<h4> portfolio</h4>
			</div>
	<ul>
			<li><a class="navbar" href="#aboutme">About Me</a></li>
			<li><a class="navbar" href="#skills">Skills</a></li>
			<li><a class="navbar" href="#work">Work</a></li>
			<li><a class="navbar" href="#contact">Contact</a></li>
			
	</ul>

	</nav>


<!-- 
about me
 -->

 <section class="alt-section aboutme-section">
	<div class="aboutme">
		<div id="about me" class ="label"><strong>About Me</strong></div>

		<div class="face-lockup">

			<img class="avatar" src='/images/circleavatar.png'>

			<img class="icons-bulb" src='/images/bulb.svg'>
			<img class="icons-display" src='/images/display.svg'>
			<img class="icons-camera" src='/images/camera.svg'>
			<img class="icons-pen" src='/images/pen.svg'>

		</div>
	</div>

	<div class="blurb">
		<p><strong>Katie is a senior Information Technology - Digital Media student at Georgia Gwinnett College. </strong>She specializes in digital interfaces and web design, but also puts effort into photography and enjoys traveling. Katie is always looking for the next adventure and new life experiences.</p>

	</div>
</section>

<!-- 
skills
 -->

<div id="skills" class ="section"><strong>Skills</strong></div>
<div class="skills-lockup">



	<div class="skill-unit">
		<div class="skill-label">Communication</div>
		<div class="skill-icons skill-7">
			<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
		</div>	
	</div>


	<div class="skill-unit">
		<div class="skill-label">Organization</div>
		<div class="skill-icons skill-8">
			<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
		</div>	
	</div>

	<div class="skill-unit">
		<div class="skill-label">Learning</div>
		<div class="skill-icons skill-8">
			<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
		</div>	
	</div>

	<div class="skill-unit">
		<div class="skill-label">Teaching</div>
		<div class="skill-icons skill-6">
			<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
		</div>	
	</div>

	<div class="skill-unit">
		<div class="skill-label">Planning</div>
		<div class="skill-icons skill-7">
			<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
		</div>	
	</div>

	<div class="skill-unit">
		<div class="skill-label">Visual Design</div>
		<div class="skill-icons skill-7">
			<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
		</div>	
	</div>

	<div class="skill-unit">
		<div class="skill-label">UX Design</div>
		<div class="skill-icons skill-6">
			<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
		</div>	
	</div>

	<div class="skill-unit">
		<div class="skill-label">Programming</div>
		<div class="skill-icons skill-8">
			<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
		</div>	
	</div>
</div>

<!-- 
work
 -->

 <section class="alt-section work-section">
 	<div id="work" class ="section"><strong>Work</strong></div>


 	<div class="work-belt">
 		
 		<div class="thumb-wrap">
		 	<div class="thumb-container">

		 		<a href class="thumb-unit" data-work="1">
		 			<div class="overlay">
		 			<div class="icon">
		 				<strong> thumbnail placeholder</strong>
		 				<img src='/images/whitesearch.svg'>
		 			</div>
		 			</div>

		 		</a>
	 			<a href class="thumb-unit" data-work="1">
		 			<div class="overlay">
		 			<div class="icon">
		 				<strong> thumbnail placeholder</strong>
		 				<img src='/images/whitesearch.svg'>
		 			</div>
		 			</div>

		 		</a>
		 		<a href class="thumb-unit" data-work="1">
		 			<div class="overlay">
		 			<div class="icon">
		 				<strong> thumbnail placeholder</strong>
		 				<img src='/images/whitesearch.svg'>
		 			</div>
		 			</div>

		 		</a>
		 		<a href class="thumb-unit" data-work="1">
		 			<div class="overlay">
		 			<div class="icon">
		 				<strong> thumbnail placeholder</strong>
		 				<img src='/images/whitesearch.svg'>
		 			</div>
		 			</div>

		 		</a>
		 		<a href class="thumb-unit" data-work="1">
		 			<div class="overlay">
		 			<div class="icon">
		 				<strong> thumbnail placeholder</strong>
		 				<img src='/images/whitesearch.svg'>
		 			</div>
		 			</div>

		 		</a>
	 			<a href class="thumb-unit" data-work="1">
		 			<div class="overlay">
		 			<div class="icon">
		 				<strong> thumbnail placeholder</strong>
		 				<img src='/images/whitesearch.svg'>
		 			</div>
		 			</div>

		 		</a>
		 		<a href class="thumb-unit" data-work="1">
		 			<div class="overlay">
		 			<div class="icon">
		 				<strong> thumbnail placeholder</strong>
		 				<img src='/images/whitesearch.svg'>
		 			</div>
		 			</div>

		 		</a>
		 		<a href class="thumb-unit" data-work="1">
		 			<div class="overlay">
		 			<div class="icon">
		 				<strong> thumbnail placeholder</strong>
		 				<img src='/images/whitesearch.svg'>
		 			</div>
		 			</div>

		 		</a>
		 	</div>
		 </div>
		 <div class="work-wrap">
		 	<div class="work-container-1">
		 		<div class="work-return"><img src='/images/back.svg'></div>
		 		<h3>Do Work</h3>
		 		
				 	
		 	</div>
		 
		 </div>
	</div>
	

 </section>

 <!-- 
contact
 -->


<div id="contact" class ="section"><strong>Contact</strong></div>
  <section class="contact-section">

	

	<div class="social-links">
		<a href="https://www.facebook.com/nosliw1287" class="icon-facebook"></a>
		<a href="https://www.linkedin.com/profile/view?id=382689362&trk=spm_pic" class="icon-linkedin"></a>
		<a href="https://instagram.com/katiedidwhaa/" class="icon-instagram"></a>
		<a href="http://www.katiecamillewilson.com" class="icon-wordpress"></a>
		<a href="https://500px.com/KatieDidPhotos" class="icon-jsfiddle"></a>
	</div>

	<hr class="bar">

	<a class="big-link" href="mailto:nosliw1287@gmail.com">nosliw1287@gmail.com</a>
  	
  	<hr class="bar">
	<form class="contact-form" action="contact.php">

		<div class="input-group">
			<input type="text">
			<label>Your Full Name</label>
		</div>


		<div class="input-group">
			<input type="text">
			<label>Your Email Address</label>
		</div>

		<div class="input-group">
			<input type="textarea">
			<label>Your Message</label>
		</div>

		<input type="submit">

	</form>

  </section>

<!-- 
footer nav
 -->

	<nav>
		<image class="logo" src="/images\g3005.png"/>
	<ul>
			<li><a class="navbar" href="#about me">About Me</a></li>
			<li><a class="navbar" href="#skills">Skills</a></li>
			<li><a class="navbar" href="#work">Work</a></li>
			<li><a class="navbar" href="#contact">Contact</a></li>
			
	</ul>

	</nav>
		<div class="copyright">
			Page created by Katie C Wilson, ©kw media 2015
		</div>

</div>
